## What You're Aiming For

In this checkpoint, we are going to work on 'Education Attainment And Enrolment Around The World' dataset, provided by the World bank group.

Dataset description : The dataset was derived from the original copy, which was published on the world bank website. The primary purpose of this database is to document and analyse patterns of educational attainment rates in different country around the world.

➡️ Dataset link

https://i.imgur.com/bMQy55e.jpg

Columns description : 

Age[15-49]All_gradeX : Percentage of the entire population ages 15 to 49 that has completed grade X

Age[15-49]Male_gradeX : Percentage of the male population ages 15 to 49 that has completed grade X

Age[15-49]Female_gradeX : Percentage of the female population ages 15 to 49 that has completed grade X

X = [1...3]

### Instructions

Step 1: Data exploration with Pandas
Download the provided dataset
Use pandas to read the file into a pandas Dataframe.
Display general information about the dataset.
Run descriptive analysis on the dataset using the 'describe' function.

Step 2: Data exploration with ydata-profiling
Use ydata-profiling to generate a report of the provided dataset.
Look for missing values in the dataset. You can use the report generated by ydata to identify missing values.
Examine the correlations between different columns in the dataset. You can use the report generated by ydata to identify correlations.
Identify any other interesting patterns or insights in the dataset that you can discover through the ydata-profiling report.

Step 3: Summary
Write a summary of your findings based on the ydata-profiling report. Be sure to include any interesting patterns or insights you discovered in the dataset.

In [4]:
import pandas as pd
from ydata_profiling import ProfileReport


# Step 1: Data exploration with Pandas
# Read the dataset into a DataFrame
file_path = r"C:\Users\HARDEY\Documents\GOMYCODE\Python\EDUCATION_ATTAINMENT.csv"
education_df = pd.read_csv(file_path)

In [5]:
education_df

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,country,year
0,0.669091,0.667214,0.651812,0.460899,0.458749,0.446925,0.292791,0.290929,0.279100,0.250981,...,0.279915,0.272185,0.111428,0.109101,0.103791,0.098721,0.097825,0.092263,Afghanistan,2015
1,0.485879,0.480171,0.465510,0.267236,0.265735,0.257999,0.191279,0.188839,0.182693,0.187151,...,0.122435,0.117916,0.084555,0.083607,0.080518,0.065466,0.065466,0.064012,Afghanistan,2007
2,0.516431,0.514233,0.502269,0.327775,0.326250,0.318003,0.221981,0.220472,0.214040,0.205611,...,0.157744,0.151130,0.086072,0.085138,0.082124,0.073085,0.073037,0.071735,Afghanistan,2010
3,0.914294,0.903528,0.871690,0.853770,0.840792,0.810794,0.775725,0.757109,0.713569,0.786468,...,0.786506,0.746073,0.699617,0.675786,0.618058,0.687626,0.648913,0.576818,Angola,2015
4,0.876990,0.841497,0.762864,0.881265,0.854158,0.795892,0.883625,0.853812,0.805231,0.747516,...,0.793379,0.712726,0.808248,0.762858,0.693267,0.559192,0.516735,0.429649,Angola,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,0.987620,0.985260,0.978837,0.988720,0.986780,0.981525,0.977844,0.974075,0.967946,0.932959,...,0.985412,0.979868,0.970045,0.965159,0.955577,0.895031,0.884101,0.857503,Zimbabwe,2010
622,0.994478,0.990348,0.986915,0.991449,0.989851,0.984804,0.987105,0.985023,0.979358,0.970577,...,0.988470,0.984984,0.979650,0.977850,0.971157,0.956777,0.950906,0.936746,Zimbabwe,2015
623,0.993604,0.989401,0.983428,0.987763,0.984321,0.977343,0.983226,0.980478,0.973111,0.911083,...,0.981323,0.976010,0.977775,0.974418,0.963542,0.869159,0.855555,0.821532,Zimbabwe,2009
624,0.994425,0.992300,0.987499,0.991362,0.989737,0.985291,0.984826,0.982728,0.975637,0.967994,...,0.989167,0.986087,0.980323,0.977985,0.970721,0.949987,0.940304,0.925455,Zimbabwe,2014
625,0.993671,0.991859,0.985111,0.993362,0.988796,0.983957,0.990576,0.986393,0.976674,0.981112,...,0.989465,0.984687,0.988121,0.982323,0.972860,0.973609,0.968685,0.955590,Zimbabwe,2019

In [8]:
# Display general information about the dataset.
education_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Ages[15-49]_All_grade1     626 non-null    float64
 1   Ages[15-49]_All_grade2     626 non-null    float64
 2   Ages[15-49]_All_grade3     626 non-null    float64
 3   Ages[20-29]_All_grade1     626 non-null    float64
 4   Ages[20-29]_All_grade2     626 non-null    float64
 5   Ages[20-29]_All_grade3     626 non-null    float64
 6   Ages[30-39]_All_grade1     625 non-null    float64
 7   Ages[30-39]_All_grade2     625 non-null    float64
 8   Ages[30-39]_All_grade3     625 non-null    float64
 9   Ages[40-49]_All_grade1     625 non-null    float64
 10  Ages[40-49]_All_grade2     625 non-null    float64
 11  Ages[40-49]_All_grade3     625 non-null    float64
 12  Ages[15-49]_Male_grade1    626 non-null    float64
 13  Ages[15-49]_Male_grade2    626 non-null    float64
 14  Ages[15-49]_Male_grade3    626 non-null    float64
 15  Ages[20-29]_Male_grade1    626 non-null    float64
 16  Ages[20-29]_Male_grade2    626 non-null    float64
 17  Ages[20-29]_Male_grade3    626 non-null    float64
 18  Ages[30-39]_Male_grade1    625 non-null    float64
 19  Ages[30-39]_Male_grade2    625 non-null    float64
 20  Ages[30-39]_Male_grade3    625 non-null    float64
 21  Ages[40-49]_Male_grade1    625 non-null    float64
 22  Ages[40-49]_Male_grade2    625 non-null    float64
 23  Ages[40-49]_Male_grade3    625 non-null    float64
 24  Ages[15-49]_Female_grade1  626 non-null    float64
 25  Ages[15-49]_Female_grade2  626 non-null    float64
 26  Ages[15-49]_Female_grade3  626 non-null    float64
 27  Ages[20-29]_Female_grade1  626 non-null    float64
 28  Ages[20-29]_Female_grade2  626 non-null    float64
 29  Ages[20-29]_Female_grade3  626 non-null    float64
 30  Ages[30-39]_Female_grade1  625 non-null    float64
 31  Ages[30-39]_Female_grade2  625 non-null    float64
 32  Ages[30-39]_Female_grade3  625 non-null    float64
 33  Ages[40-49]_Female_grade1  625 non-null    float64
 34  Ages[40-49]_Female_grade2  625 non-null    float64
 35  Ages[40-49]_Female_grade3  625 non-null    float64
 36  country                    626 non-null    object
 37  year                       626 non-null    int64
dtypes: float64(36), int64(1), object(1)
memory usage: 186.0+ KB

In [10]:
# Run descriptive analysis on the dataset using the 'describe' function.
education_df.describe()

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade1,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,year
count,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,625.000000,625.000000,625.000000,625.000000,...,626.000000,626.000000,626.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,626.000000
mean,0.873886,0.861490,0.837509,0.823849,0.812738,0.789965,0.766171,0.752519,0.724980,0.709166,...,0.790544,0.778972,0.755644,0.719020,0.704342,0.675526,0.646864,0.628309,0.593585,2005.049521
std,0.162624,0.166895,0.176555,0.200559,0.202587,0.207979,0.236563,0.237679,0.240681,0.259998,...,0.236541,0.238637,0.243755,0.278133,0.279059,0.281139,0.302723,0.302637,0.301434,7.894248
min,0.251917,0.244071,0.233274,0.079610,0.079610,0.079610,0.098059,0.091358,0.085236,0.036549,...,0.029662,0.029662,0.029662,0.060930,0.058368,0.053241,0.022547,0.022022,0.020972,1981.000000
25%,0.831791,0.803131,0.757465,0.744915,0.723418,0.678869,0.639447,0.612464,0.561545,0.527055,...,0.678596,0.658977,0.616380,0.534060,0.508218,0.463656,0.400638,0.372404,0.330846,2000.000000
50%,0.948926,0.935167,0.909587,0.910132,0.896568,0.864849,0.853861,0.831246,0.794898,0.785356,...,0.900869,0.887206,0.853414,0.815823,0.794049,0.749927,0.719924,0.686513,0.625602,2005.000000
75%,0.984447,0.980112,0.971166,0.973777,0.967410,0.955625,0.959097,0.948259,0.922841,0.937129,...,0.974514,0.968962,0.959495,0.958022,0.946510,0.920707,0.929507,0.914777,0.875928,2011.000000
max,1.000000,1.000000,1.000000,1.000000,0.999824,0.999264,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.999777,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2020.000000

## Step 2: Data exploration with ydata-profiling

In [35]:


# Check the number of rows in the dataset
num_rows = education_df.shape[0]

# Determine the sample size
sample_size = min(100, num_rows)  # Sample size should not exceed the number of rows

# Take a random sample of the determined size
sample_df = education_df.sample(n=sample_size, random_state=42)

In [37]:
sample_df

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,country,year
448,0.983327,0.965076,0.930597,0.977597,0.966615,0.936120,0.968351,0.948259,0.902719,0.950927,...,0.963542,0.931473,0.957353,0.937595,0.884755,0.938852,0.904646,0.820557,Paraguay,1995
486,0.964466,0.954242,0.929592,0.937375,0.920478,0.880161,0.889643,0.861801,0.814041,0.813812,...,0.919276,0.876896,0.871400,0.839867,0.791483,0.781202,0.741032,0.662771,El Salvador,2006
215,0.993425,0.991771,0.991218,0.990948,0.986460,0.977194,0.979668,0.964152,0.944190,0.979405,...,0.984929,0.976412,0.969290,0.953576,0.930913,0.983924,0.972423,0.953246,Guyana,2014
212,0.993131,0.988257,0.987149,0.996814,0.995714,0.992866,0.996485,0.990711,0.988912,0.998767,...,0.995142,0.992605,0.998318,0.995795,0.994189,1.000000,1.000000,0.996985,Guyana,1992
481,0.793037,0.785024,0.773072,0.507068,0.503184,0.491432,0.338140,0.334153,0.324675,0.331912,...,0.395776,0.383218,0.249353,0.246046,0.236124,0.231863,0.227770,0.218623,Sierra Leone,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,0.971709,0.958770,0.936279,0.949954,0.930133,0.893891,0.913567,0.879521,0.820635,0.879382,...,0.942734,0.912140,0.919556,0.888163,0.835661,0.873223,0.827564,0.754182,Honduras,2011
292,0.947645,0.932737,0.910583,0.898378,0.880183,0.848089,0.839737,0.814767,0.764180,0.821082,...,0.842455,0.807719,0.776177,0.747055,0.688348,0.758927,0.725983,0.654345,Lao PDR,2017
274,0.997370,0.997370,0.997127,0.995954,0.995748,0.995004,0.997861,0.997861,0.997535,0.998596,...,0.998134,0.996901,0.998386,0.998386,0.998292,0.998719,0.998719,0.998719,Kyrgyz Rep.,2005
403,0.679303,0.667520,0.638320,0.514862,0.508029,0.488896,0.344972,0.335196,0.319367,0.256892,...,0.328988,0.312228,0.160035,0.156499,0.149425,0.084682,0.084682,0.075965,Nepal,1996
271,0.951102,0.943134,0.918419,0.945704,0.939779,0.929782,0.894505,0.886202,0.873861,0.773402,...,0.926312,0.914635,0.845533,0.839884,0.823557,0.669228,0.658261,0.629873,Kenya,2000

In [41]:
# Generate the profile report
# before generating a profile report, we are working with a sample to represent the whole. 

profile = ProfileReport(sample_df, title='Pandas Profiling Report')

In [ ]:
# Generate an HTML report
profile.to_file("sample_df.html")

#### Look for missing values in the dataset. You can use the report generated by ydata to identify missing values.

#### Examine the correlations between different columns in the dataset. You can use the report generated by ydata to identify correlations.

In [50]:
missing_values = sample_df.isnull().sum()
print("Missing values per column using isnull() and sum():")
print(missing_values)

Missing values per column using isnull() and sum():
Ages[15-49]_All_grade1       0
Ages[15-49]_All_grade2       0
Ages[15-49]_All_grade3       0
Ages[20-29]_All_grade1       0
Ages[20-29]_All_grade2       0
Ages[20-29]_All_grade3       0
Ages[30-39]_All_grade1       0
Ages[30-39]_All_grade2       0
Ages[30-39]_All_grade3       0
Ages[40-49]_All_grade1       0
Ages[40-49]_All_grade2       0
Ages[40-49]_All_grade3       0
Ages[15-49]_Male_grade1      0
Ages[15-49]_Male_grade2      0
Ages[15-49]_Male_grade3      0
Ages[20-29]_Male_grade1      0
Ages[20-29]_Male_grade2      0
Ages[20-29]_Male_grade3      0
Ages[30-39]_Male_grade1      0
Ages[30-39]_Male_grade2      0
Ages[30-39]_Male_grade3      0
Ages[40-49]_Male_grade1      0
Ages[40-49]_Male_grade2      0
Ages[40-49]_Male_grade3      0
Ages[15-49]_Female_grade1    0
Ages[15-49]_Female_grade2    0
Ages[15-49]_Female_grade3    0
Ages[20-29]_Female_grade1    0
Ages[20-29]_Female_grade2    0
Ages[20-29]_Female_grade3    0
Ages[30-39]_Female_grade1    0
Ages[30-39]_Female_grade2    0
Ages[30-39]_Female_grade3    0
Ages[40-49]_Female_grade1    0
Ages[40-49]_Female_grade2    0
Ages[40-49]_Female_grade3    0
country                      0
year                         0
dtype: int64

#### Examine the correlations between different columns in the dataset. You can use the report generated by ydata to identify correlations.

The correlation between different columns in the dataset is actually a positive strong relationship.

#### Identify any other interesting patterns or insights in the dataset that you can discover through the ydata-profiling report.

The dataset consists of various age groups and grades, specifically focusing on individuals aged 15-49, segmented further by all individuals, males, and females. For each subgroup, the performance across all grades is analyzed which also deals with age.

There are strong correlations between the scores of different grades, indicating that individuals who perform well in one grade are likely to perform well in others.

High Scores Across Grades: The means for all grades are relatively high (around 0.85 to 0.87), indicating generally high scores for this age group.

Left Skewness: All three grades show negative skewness, meaning most scores are concentrated towards the higher end, with fewer low scores. This suggests that the majority of the population scores well in all grades.

Small but Increasing Spread: The IQR and standard deviation increase slightly from grade 1 to grade 3, suggesting a broader spread of scores in higher grades.

Correlation: High correlation indicates that scores in one grade are likely predictive of scores in another grade. This consistency suggests that individuals tend to perform similarly across different grades.